<!-- <div class="layout">
  <div class="sidebar">
    <button 
      class="tab" 
      [class.active]="currentTab === 'home'" 
      (click)="switchTab('home')">Главная</button>

    <button 
      class="tab" 
      [class.active]="currentTab === 'about'" 
      (click)="switchTab('about')">О нас</button>

    <button 
      class="tab" 
      [class.active]="currentTab === 'contact'" 
      (click)="switchTab('contact')">Контакты</button>
  </div>

  <div class="content">
    <div *ngIf="currentTab === 'home'">
      <h1>Главная</h1>
      <p>Добро пожаловать!</p>
    </div>

    <div *ngIf="currentTab === 'about'">
      <h1>О нас</h1>
      <p>Мы делаем классные вещи!</p>
    </div>

    <div *ngIf="currentTab === 'contact'">
      <h1>Контакты</h1>
      <p>Пишите нам на emai.com</p>
    </div>
  </div>
</div> -->

<div class="mainElement">
  <div class="left-element">

    <header>
        <h1>Gramm</h1>
        <div class="divider"></div><!--разделитель -->
    </header>
    

    <div class="sidebar">
        <button
            class="primary-button"
            [class.active]="XActiveButton === 'work1'"
            (click)="switchX('work1')">юзер 1
        </button>
        
        <button
            class="primary-button"
            [class.active]="XActiveButton === 'work2'"
            (click)="switchX('work2')">юзер 2
        </button>

        <button
            class="primary-button"
            [class.active]="XActiveButton === 'work3'"
            (click)="switchX('work3')">юзер 3
        </button> 
    </div>

  </div>
   

    <div class="right-element">
        <header>
            <h2>юзеры ыыы</h2>
			<div class="divider"></div>
        </header>

        <div class="chat-container">
            <div class="chat-bubble">
              <p>Ведутся тектонические шоколадки</p>
            </div>
            <div class="chat-bubble">
              <p>Ведектонические шоколадки</p>
            </div>
            <div class="chat-bubble">
              <p>Ведутся тектоничладки</p>
            </div>
            <div class="chat-bubble">
            	<p>Ведутся  шоколаfsfsDFHKGSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSдки</p>
            </div>
            <div class="chat-bubble">
              <p>Ведутся тектонические</p>
            </div>
            <div class="chat-bubble">
              <p> шоколадки</p>
            </div>
			<div class="chat-bubble">
              <p> z rfsfsfsfколадки</p>
            </div>
			<div class="chat-bubble">
              <p> шzgojrpgoang jsn ojgfnhaijo ag gasdf и</p>
            </div>
			<div class="chat-bubble">
              <p> fzsfsfsfsfsfsfsfsfsfsfsfsfsfsfsf34234144ки</p>
            </div>
        </div>

        <div class="message-input-container">
            <textarea class="primary-input" placeholder="Напишите сообщение"></textarea>
            <button class="primary-button send-button">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
     				stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
  					<line x1="22" y1="2" x2="11" y2="13" />
  					<polygon points="22 2 15 22 11 13 2 9 22 2" />

				</svg>
			</button>
        </div>
    </div>
</div>

