app-root, body, html{
    height: 100%;
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
}
body{
    color: #f2fcf3;
    margin: 0;
    font-family: "Segoe UI", Georgia, Serif; 
    background-color:#121214;
}

.primary-input {
        font-family: "Segoe UI", Georgia, Serif;
        color: #f2f3fc;
        width: 320px;
        height: 48px;
        box-sizing: border-box;
        font-size: 18px;
        border-radius: 8px;
        border: 1px solid #36363b;
        outline: none;
        padding: 7px 8px;
        transition: .5s;
        background-color: #1d1d21;

        &:hover {
            border: 1px solid #8cb0e0
        }

        &:focus {
            border: 1px solid #5865f2
        }
    }

.primary-button {
    font-family: "Segoe UI", Georgia, Serif;
    font-size: 18px;
    width: 200px;
    border-radius: 20px;
    box-sizing: border-box;
    //box-shadow: 2px 2px 4px 2px #bde1eb;
    border: none;
    outline: none;
    padding: 16px 17px;
    transition: .5s;
    background-color: #5865f2;
    color: #f2f3fc;

    &:hover {
        background-color: #424cb6;
    }
}

h1, h2 {
    margin: 0;
    font-size: 32px;
    margin-bottom: 16px;
}

p{
	margin: 0;
}